﻿@page 






<div class="column-container">
    <div class="content-container" style="padding: 10px; margin-bottom: 10px">
        <a style="margin-left: 8px" class="click-link" asp-page="/Content/New" asp-page-handler="New">New Post</a>
    </div>
</div>